
# basic_approaches/
basic_approaches/color_space_transformations.py
basic_approaches/__pycache__/
basic_approaches/test/

basic_approaches/.ipynb_checkpoints/
basic_approaches/.idea/


# mask_checking/
mask_checking/test/
mask_checking/bdd100_data/
mask_checking/cityscapes_data/

mask_checking/.ipynb_checkpoints/


# path_creating
path_creating/test/

path_creating/.ipynb_checkpoints/

# NOT ignore example_data
!example_data/*


*.csv
*.json
*.png
*.jpg
*.pyc
